<div id="title" class="centered-text">
  <h1>Meetings</h1>
</div>
<div id="add-buttons-region" class="centered-text center width200 mt40">
</div>
<div id="meetings-region" class="mt40 col-xs-6 col-sm-6 col-md-6 col-lg-12">
</div>